In [1]:
import pandas as pd
from datetime import date

In [2]:
df = pd.read_csv('data/h-mon-a.csv', encoding='shift-jis')

In [3]:
print(df.shape)
print(df.info())

(188, 250)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Columns: 250 entries, 二人以上の世帯_支出金額[円] to 244
dtypes: object(250)
memory usage: 367.3+ KB
None

In [4]:
df.head()

,二人以上の世帯_支出金額[円],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,1,2,3,4,...,235,236,237,238,239,240,241,242,243,244
0,NaN,NaN,NaN,NaN,NaN,NaN,2000年,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020年,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,(平成12年),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,(令和2年),NaN,NaN,NaN
2,表側連番,階層,大分類,中分類,小分類,品目分類,1月,2月,3月,4月,...,7月,8月,9月,10月,11月,12月,1月,2月,3月,4月
3,1,-,-,-,-,世帯数分布(抽出率調整),10000,10000,10000,10000,...,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000
4,2,-,-,-,-,集計世帯数,7887,7942,7934,7922,...,7501,7479,7517,7470,7466,7481,7443,7475,7489,7534

In [5]:
df.tail()

,二人以上の世帯_支出金額[円],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,1,2,3,4,...,235,236,237,238,239,240,241,242,243,244
183,181,-,-,-,-,会費・つきあい費,1561,1441,1495,1888,...,864,707,802,710,776,860,770,705,690,751
184,182,-,-,-,-,その他の教養娯楽,7063,6370,8068,8109,...,8641,9456,9369,8284,9152,12570,8239,7674,8995,8603
185,183,-,-,-,-,消費支出(再掲),309621,290663,335341,335276,...,288026,296327,300609,279671,278765,321380,287173,271735,292214,267922
186,184,-,-,-,-,基礎的支出,184372,170045,186202,173441,...,164379,170031,166350,159195,160265,190600,167873,157888,170401,159426
187,185,-,-,-,-,選択的支出,125248,120618,149139,161835,...,123648,126296,134260,120475,118500,130780,119301,113847,121813,108497

In [6]:
year_data = df.iloc[0].dropna()
year_data_list = [int(year.split('年')[0]) for year in list(year_data)]

In [7]:
end_month = int(df.iloc[2, -1].replace('月', ''))

In [8]:
print(year_data_list)
print(end_month)

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
4

In [9]:
date_list = []

for year in year_data_list:
    for month in range(1, 13):
        if year == year_data_list[-1]:
            if month == end_month + 1:
                break
        date_list.append(date(year, month, 1))

In [10]:
print(date_list)

[datetime.date(2000, 1, 1), datetime.date(2000, 2, 1), datetime.date(2000, 3, 1), datetime.date(2000, 4, 1), datetime.date(2000, 5, 1), datetime.date(2000, 6, 1), datetime.date(2000, 7, 1), datetime.date(2000, 8, 1), datetime.date(2000, 9, 1), datetime.date(2000, 10, 1), datetime.date(2000, 11, 1), datetime.date(2000, 12, 1), datetime.date(2001, 1, 1), datetime.date(2001, 2, 1), datetime.date(2001, 3, 1), datetime.date(2001, 4, 1), datetime.date(2001, 5, 1), datetime.date(2001, 6, 1), datetime.date(2001, 7, 1), datetime.date(2001, 8, 1), datetime.date(2001, 9, 1), datetime.date(2001, 10, 1), datetime.date(2001, 11, 1), datetime.date(2001, 12, 1), datetime.date(2002, 1, 1), datetime.date(2002, 2, 1), datetime.date(2002, 3, 1), datetime.date(2002, 4, 1), datetime.date(2002, 5, 1), datetime.date(2002, 6, 1), datetime.date(2002, 7, 1), datetime.date(2002, 8, 1), datetime.date(2002, 9, 1), datetime.date(2002, 10, 1), datetime.date(2002, 11, 1), datetime.date(2002, 12, 1), datetime.date(2003, 1, 1), datetime.date(2003, 2, 1), datetime.date(2003, 3, 1), datetime.date(2003, 4, 1), datetime.date(2003, 5, 1), datetime.date(2003, 6, 1), datetime.date(2003, 7, 1), datetime.date(2003, 8, 1), datetime.date(2003, 9, 1), datetime.date(2003, 10, 1), datetime.date(2003, 11, 1), datetime.date(2003, 12, 1), datetime.date(2004, 1, 1), datetime.date(2004, 2, 1), datetime.date(2004, 3, 1), datetime.date(2004, 4, 1), datetime.date(2004, 5, 1), datetime.date(2004, 6, 1), datetime.date(2004, 7, 1), datetime.date(2004, 8, 1), datetime.date(2004, 9, 1), datetime.date(2004, 10, 1), datetime.date(2004, 11, 1), datetime.date(2004, 12, 1), datetime.date(2005, 1, 1), datetime.date(2005, 2, 1), datetime.date(2005, 3, 1), datetime.date(2005, 4, 1), datetime.date(2005, 5, 1), datetime.date(2005, 6, 1), datetime.date(2005, 7, 1), datetime.date(2005, 8, 1), datetime.date(2005, 9, 1), datetime.date(2005, 10, 1), datetime.date(2005, 11, 1), datetime.date(2005, 12, 1), datetime.date(2006, 1, 1), datetime.date(2006, 2, 1), datetime.date(2006, 3, 1), datetime.date(2006, 4, 1), datetime.date(2006, 5, 1), datetime.date(2006, 6, 1), datetime.date(2006, 7, 1), datetime.date(2006, 8, 1), datetime.date(2006, 9, 1), datetime.date(2006, 10, 1), datetime.date(2006, 11, 1), datetime.date(2006, 12, 1), datetime.date(2007, 1, 1), datetime.date(2007, 2, 1), datetime.date(2007, 3, 1), datetime.date(2007, 4, 1), datetime.date(2007, 5, 1), datetime.date(2007, 6, 1), datetime.date(2007, 7, 1), datetime.date(2007, 8, 1), datetime.date(2007, 9, 1), datetime.date(2007, 10, 1), datetime.date(2007, 11, 1), datetime.date(2007, 12, 1), datetime.date(2008, 1, 1), datetime.date(2008, 2, 1), datetime.date(2008, 3, 1), datetime.date(2008, 4, 1), datetime.date(2008, 5, 1), datetime.date(2008, 6, 1), datetime.date(2008, 7, 1), datetime.date(2008, 8, 1), datetime.date(2008, 9, 1), datetime.date(2008, 10, 1), datetime.date(2008, 11, 1), datetime.date(2008, 12, 1), datetime.date(2009, 1, 1), datetime.date(2009, 2, 1), datetime.date(2009, 3, 1), datetime.date(2009, 4, 1), datetime.date(2009, 5, 1), datetime.date(2009, 6, 1), datetime.date(2009, 7, 1), datetime.date(2009, 8, 1), datetime.date(2009, 9, 1), datetime.date(2009, 10, 1), datetime.date(2009, 11, 1), datetime.date(2009, 12, 1), datetime.date(2010, 1, 1), datetime.date(2010, 2, 1), datetime.date(2010, 3, 1), datetime.date(2010, 4, 1), datetime.date(2010, 5, 1), datetime.date(2010, 6, 1), datetime.date(2010, 7, 1), datetime.date(2010, 8, 1), datetime.date(2010, 9, 1), datetime.date(2010, 10, 1), datetime.date(2010, 11, 1), datetime.date(2010, 12, 1), datetime.date(2011, 1, 1), datetime.date(2011, 2, 1), datetime.date(2011, 3, 1), datetime.date(2011, 4, 1), datetime.date(2011, 5, 1), datetime.date(2011, 6, 1), datetime.date(2011, 7, 1), datetime.date(2011, 8, 1), datetime.date(2011, 9, 1), datetime.date(2011, 10, 1), datetime.date(2011, 11, 1), datetime.date(2011, 12, 1), datetime.date(2012, 1, 1), datetime.date(2012, 2, 1), datetime.date(2012, 3, 1), datetime.date(2012, 4, 1), datetime.date(2012, 5, 1), datetime.date(2012, 6, 1), datetime.date(2012, 7, 1), datetime.date(2012, 8, 1), datetime.date(2012, 9, 1), datetime.date(2012, 10, 1), datetime.date(2012, 11, 1), datetime.date(2012, 12, 1), datetime.date(2013, 1, 1), datetime.date(2013, 2, 1), datetime.date(2013, 3, 1), datetime.date(2013, 4, 1), datetime.date(2013, 5, 1), datetime.date(2013, 6, 1), datetime.date(2013, 7, 1), datetime.date(2013, 8, 1), datetime.date(2013, 9, 1), datetime.date(2013, 10, 1), datetime.date(2013, 11, 1), datetime.date(2013, 12, 1), datetime.date(2014, 1, 1), datetime.date(2014, 2, 1), datetime.date(2014, 3, 1), datetime.date(2014, 4, 1), datetime.date(2014, 5, 1), datetime.date(2014, 6, 1), datetime.date(2014, 7, 1), datetime.date(2014, 8, 1), datetime.date(2014, 9, 1), datetime.date(2014, 10, 1), datetime.date(2014, 11, 1), datetime.date(2014, 12, 1), datetime.date(2015, 1, 1), datetime.date(2015, 2, 1), datetime.date(2015, 3, 1), datetime.date(2015, 4, 1), datetime.date(2015, 5, 1), datetime.date(2015, 6, 1), datetime.date(2015, 7, 1), datetime.date(2015, 8, 1), datetime.date(2015, 9, 1), datetime.date(2015, 10, 1), datetime.date(2015, 11, 1), datetime.date(2015, 12, 1), datetime.date(2016, 1, 1), datetime.date(2016, 2, 1), datetime.date(2016, 3, 1), datetime.date(2016, 4, 1), datetime.date(2016, 5, 1), datetime.date(2016, 6, 1), datetime.date(2016, 7, 1), datetime.date(2016, 8, 1), datetime.date(2016, 9, 1), datetime.date(2016, 10, 1), datetime.date(2016, 11, 1), datetime.date(2016, 12, 1), datetime.date(2017, 1, 1), datetime.date(2017, 2, 1), datetime.date(2017, 3, 1), datetime.date(2017, 4, 1), datetime.date(2017, 5, 1), datetime.date(2017, 6, 1), datetime.date(2017, 7, 1), datetime.date(2017, 8, 1), datetime.date(2017, 9, 1), datetime.date(2017, 10, 1), datetime.date(2017, 11, 1), datetime.date(2017, 12, 1), datetime.date(2018, 1, 1), datetime.date(2018, 2, 1), datetime.date(2018, 3, 1), datetime.date(2018, 4, 1), datetime.date(2018, 5, 1), datetime.date(2018, 6, 1), datetime.date(2018, 7, 1), datetime.date(2018, 8, 1), datetime.date(2018, 9, 1), datetime.date(2018, 10, 1), datetime.date(2018, 11, 1), datetime.date(2018, 12, 1), datetime.date(2019, 1, 1), datetime.date(2019, 2, 1), datetime.date(2019, 3, 1), datetime.date(2019, 4, 1), datetime.date(2019, 5, 1), datetime.date(2019, 6, 1), datetime.date(2019, 7, 1), datetime.date(2019, 8, 1), datetime.date(2019, 9, 1), datetime.date(2019, 10, 1), datetime.date(2019, 11, 1), datetime.date(2019, 12, 1), datetime.date(2020, 1, 1), datetime.date(2020, 2, 1), datetime.date(2020, 3, 1), datetime.date(2020, 4, 1)]

In [11]:
date_list.insert(0, '品目分類')

In [12]:
kakei_data = df.iloc[3:, 5:]
kakei_data.columns = date_list
kakei_data.index = kakei_data['品目分類']
kakei_data = kakei_data.iloc[:, 1:]
kakei_data = kakei_data.T
kakei_data['date'] = kakei_data.index
kakei_data = kakei_data.reset_index(drop=True)
kakei_data.columns.name = ''
kakei_data

,世帯数分布(抽出率調整),集計世帯数,世帯人員(人),18歳未満人員(人),65歳以上人員(人),うち無職者人員(人),有業人員(人),世帯主の年齢(歳),持家率(％),家賃・地代を支払っている世帯の割合(％),...,聴視・観覧,旅行,スポーツ,月謝,会費・つきあい費,その他の教養娯楽,消費支出(再掲),基礎的支出,選択的支出,date
0,10000,7887,3.32,0.74,0.52,0.41,1.51,52.4,76,22.1,...,2049,8876,3001,3241,1561,7063,309621,184372,125248,2000-01-01
1,10000,7942,3.32,0.75,0.53,0.41,1.51,52.6,76.3,22,...,2199,9058,2200,3329,1441,6370,290663,170045,120618,2000-02-01
2,10000,7934,3.32,0.75,0.53,0.41,1.51,52.7,76.2,22.6,...,1977,12249,3022,3497,1495,8068,335341,186202,149139,2000-03-01
3,10000,7922,3.32,0.75,0.52,0.41,1.52,52.6,75.8,22.2,...,2470,10432,3129,3768,1888,8109,335276,173441,161835,2000-04-01
4,10000,7928,3.31,0.75,0.52,0.41,1.53,52.7,76.1,22.6,...,2202,11746,2946,3256,1683,8822,308566,177153,131413,2000-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,10000,7481,2.96,0.58,0.82,0.66,1.34,59.4,86.1,13.1,...,3393,8313,3098,2522,860,12570,321380,190600,130780,2019-12-01
240,10000,7443,2.96,0.58,0.82,0.65,1.34,59.3,85.6,13.1,...,2590,7299,2839,2648,770,8239,287173,167873,119301,2020-01-01
241,10000,7475,2.96,0.58,0.83,0.66,1.33,59.3,85.3,13.4,...,3149,5922,2436,2614,705,7674,271735,157888,113847,2020-02-01
242,10000,7489,2.96,0.57,0.86,0.68,1.32,59.5,85.7,13.3,...,2225,2693,2742,2046,690,8995,292214,170401,121813,2020-03-01
243,10000,7534,2.96,0.58,0.86,0.68,1.33,59.5,85.8,13.2,...,2992,590,1494,1416,751,8603,267922,159426,108497,2020-04-01

In [13]:
kakei_data.columns.name

''

In [14]:
kakei_data.columns.name = ''

In [15]:
kakei_data

,世帯数分布(抽出率調整),集計世帯数,世帯人員(人),18歳未満人員(人),65歳以上人員(人),うち無職者人員(人),有業人員(人),世帯主の年齢(歳),持家率(％),家賃・地代を支払っている世帯の割合(％),...,聴視・観覧,旅行,スポーツ,月謝,会費・つきあい費,その他の教養娯楽,消費支出(再掲),基礎的支出,選択的支出,date
0,10000,7887,3.32,0.74,0.52,0.41,1.51,52.4,76,22.1,...,2049,8876,3001,3241,1561,7063,309621,184372,125248,2000-01-01
1,10000,7942,3.32,0.75,0.53,0.41,1.51,52.6,76.3,22,...,2199,9058,2200,3329,1441,6370,290663,170045,120618,2000-02-01
2,10000,7934,3.32,0.75,0.53,0.41,1.51,52.7,76.2,22.6,...,1977,12249,3022,3497,1495,8068,335341,186202,149139,2000-03-01
3,10000,7922,3.32,0.75,0.52,0.41,1.52,52.6,75.8,22.2,...,2470,10432,3129,3768,1888,8109,335276,173441,161835,2000-04-01
4,10000,7928,3.31,0.75,0.52,0.41,1.53,52.7,76.1,22.6,...,2202,11746,2946,3256,1683,8822,308566,177153,131413,2000-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,10000,7481,2.96,0.58,0.82,0.66,1.34,59.4,86.1,13.1,...,3393,8313,3098,2522,860,12570,321380,190600,130780,2019-12-01
240,10000,7443,2.96,0.58,0.82,0.65,1.34,59.3,85.6,13.1,...,2590,7299,2839,2648,770,8239,287173,167873,119301,2020-01-01
241,10000,7475,2.96,0.58,0.83,0.66,1.33,59.3,85.3,13.4,...,3149,5922,2436,2614,705,7674,271735,157888,113847,2020-02-01
242,10000,7489,2.96,0.57,0.86,0.68,1.32,59.5,85.7,13.3,...,2225,2693,2742,2046,690,8995,292214,170401,121813,2020-03-01
243,10000,7534,2.96,0.58,0.86,0.68,1.33,59.5,85.8,13.2,...,2992,590,1494,1416,751,8603,267922,159426,108497,2020-04-01

In [16]:
kakei_data.to_csv('data/kakei_data.csv')