<a href="https://colab.research.google.com/github/hannari-python/tutorial/blob/master/household/reading_ippan_microdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://github.com/hannari-python/tutorial/raw/master/data/ippan-microdata/ippan_2009zensho.zip

--2020-07-23 02:31:07--  https://github.com/hannari-python/tutorial/raw/master/data/ippan-microdata/ippan_2009zensho.zip
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/hannari-python/tutorial/master/data/ippan-microdata/ippan_2009zensho.zip [following]
--2020-07-23 02:31:07--  https://raw.githubusercontent.com/hannari-python/tutorial/master/data/ippan-microdata/ippan_2009zensho.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5162738 (4.9M) [application/zip]
Saving to: ‘ippan_2009zensho.zip’

ippan_2009zensho.zi 100%[===================>]   4.92M  13.9MB/s    in 0.4s

2020-07-23 02:31:08 (13.9 MB/s) - ‘ippan_2009zensho.zip’ saved [5162738/5162738]

In [ ]:
!wget https://github.com/hannari-python/tutorial/raw/master/data/ippan-microdata/ippan_2009zensho_s.zip

--2020-07-23 02:31:33--  https://github.com/hannari-python/tutorial/raw/master/data/ippan-microdata/ippan_2009zensho_s.zip
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/hannari-python/tutorial/master/data/ippan-microdata/ippan_2009zensho_s.zip [following]
--2020-07-23 02:31:33--  https://raw.githubusercontent.com/hannari-python/tutorial/master/data/ippan-microdata/ippan_2009zensho_s.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33090889 (32M) [application/zip]
Saving to: ‘ippan_2009zensho_s.zip’

ippan_2009zensho_s. 100%[===================>]  31.56M  38.9MB/s    in 0.8s

2020-07-23 02:31:34 (38.9 MB/s) - ‘ippan_2009zensho_s.zip’ saved [33090889/33090889]

In [ ]:
!wget https://github.com/hannari-python/tutorial/raw/master/data/ippan-microdata/ippan_shugyou.zip

--2020-07-23 02:32:01--  https://github.com/hannari-python/tutorial/raw/master/data/ippan-microdata/ippan_shugyou.zip
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/hannari-python/tutorial/master/data/ippan-microdata/ippan_shugyou.zip [following]
--2020-07-23 02:32:01--  https://raw.githubusercontent.com/hannari-python/tutorial/master/data/ippan-microdata/ippan_shugyou.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2739481 (2.6M) [application/zip]
Saving to: ‘ippan_shugyou.zip’

ippan_shugyou.zip   100%[===================>]   2.61M  14.8MB/s    in 0.2s

2020-07-23 02:32:01 (14.8 MB/s) - ‘ippan_shugyou.zip’ saved [2739481/2739481]

In [ ]:
!unzip ippan_2009zensho.zip

Archive:  ippan_2009zensho.zip
  inflating: ippan_2009zensho/ippan_2009zensho_z_dataset.csv
  inflating: ippan_2009zensho/ippan_2009zensho_k_dataset.csv
  inflating: ippan_2009zensho/ippan_2009zensho_z.xls
  inflating: ippan_2009zensho/ippan_2009zensho_k.xls

In [ ]:
!unzip ippan_2009zensho_s.zip

Archive:  ippan_2009zensho_s.zip
  inflating: ippan_2009zensho_s/ippan_2009zensho_s.xls
  inflating: ippan_2009zensho_s/ippan_2009zensho_s_dataset.csv

In [ ]:
!unzip ippan_shugyou.zip

Archive:  ippan_shugyou.zip
  inflating: ippan_shugyou/ippan_1992shugyou.xls
  inflating: ippan_shugyou/ippan_1992shugyou_dataset.csv
  inflating: ippan_shugyou/ippan_1997shugyou.xls
  inflating: ippan_shugyou/ippan_1997shugyou_dataset.csv
  inflating: ippan_shugyou/ippan_2002shugyou.xls
  inflating: ippan_shugyou/ippan_2002shugyou_dataset.csv
  inflating: ippan_shugyou/ippan_2007shugyou.xls
  inflating: ippan_shugyou/ippan_2007shugyou_dataset.csv
  inflating: ippan_shugyou/ippan_2012shugyou.xls
  inflating: ippan_shugyou/ippan_2012shugyou_dataset.csv

In [ ]:
!ls

ippan_2009zensho    ippan_2009zensho_s.zip  ippan_shugyou      sample_data
ippan_2009zensho_s  ippan_2009zensho.zip    ippan_shugyou.zip

In [ ]:
import pandas as pd

In [ ]:
df_2009zensho_z = pd.read_csv("ippan_2009zensho/ippan_2009zensho_z_dataset.csv")

UnicodeDecodeError: ignored

In [ ]:
df_2009zensho_z = pd.read_csv("ippan_2009zensho/ippan_2009zensho_z_dataset.csv", encoding="shift_jis")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_2009zensho_z

            ※一般用ミクロデータは、公表済みの結果表から作成したミクロデータ形式のデータセットです。  ...     Unnamed: 19
0         　このため、一般用ミクロデータから導かれた分析結果は実証研究の結果とみなすことはできません。  ...             NaN
1      ※注意事項など、一般用ミクロデータの最新情報は、統計センターＨＰ（http://www.ns...  ...             NaN
2                                    　ご利用いただく前にはご確認ください。  ...             NaN
3                                                    NaN  ...             NaN
4                                                  3City  ...  OL_Expenditure
...                                                  ...  ...             ...
45811                                                  0  ...          104302
45812                                                  0  ...         2084.74
45813                                                  0  ...         28619.1
45814                                                  0  ...         31135.5
45815                                                  0  ...         23640.6

[45816 rows x 20 columns]

In [ ]:
df_2009zensho_z = pd.read_csv("ippan_2009zensho/ippan_2009zensho_z_dataset.csv", encoding="shift_jis", skiprows=5)

In [ ]:
df_2009zensho_z

       3City  T_SeJinin  T_SyuJinin  ...  Education    Recreation  OL_Expenditure
0          1          2           1  ...   0.000000  14432.731810    76718.556870
1          1          2           1  ...   0.000000  19048.367050    27089.170140
2          1          2           1  ...   0.000000   8604.983067    12076.776080
3          1          2           1  ...   0.000000  36419.101160     6136.734742
4          1          2           1  ...   0.000000  38587.720300    11725.219290
...      ...        ...         ...  ...        ...           ...             ...
45806      0          3           2  ...  27.649192  58844.466430   104302.001500
45807      0          3           2  ...  18.315035  17698.033200     2084.740965
45808      0          3           2  ...  25.308740   4309.069458    28619.098780
45809      0          3           2  ...   3.256409  14535.954290    31135.481970
45810      0          3           2  ...   1.818692  19786.834280    23640.586600

[45811 rows x 20 columns]

In [ ]:
df_2009zensho_k = pd.read_csv("ippan_2009zensho/ippan_2009zensho_k_dataset.csv", encoding="shift_jis")

In [ ]:
df_2009zensho_k

            ※一般用ミクロデータは、公表済みの結果表から作成したミクロデータ形式のデータセットです。  ...     Unnamed: 16
0         　このため、一般用ミクロデータから導かれた分析結果は実証研究の結果とみなすことはできません。  ...             NaN
1      ※注意事項など、一般用ミクロデータの最新情報は、統計センターＨＰ（http://www.ns...  ...             NaN
2                                    　ご利用いただく前にはご確認ください。  ...             NaN
3                                                    NaN  ...             NaN
4                                               T_San123  ...  OL_Expenditure
...                                                  ...  ...             ...
26239                                                  3  ...     14149.19771
26240                                                  3  ...     15949.19252
26241                                                  3  ...     156990.1387
26242                                                  3  ...     382567.3702
26243                                                  3  ...     31011.28593

[26244 rows x 17 columns]

In [ ]:
df_2009zensho_k = pd.read_csv("ippan_2009zensho/ippan_2009zensho_k_dataset.csv", encoding="shift_jis", skiprows=5)

In [ ]:
df_2009zensho_k

       T_San123  T_Syokugyo  ...     Recreation  OL_Expenditure
0             1           0  ...   24535.022420    31010.059370
1             1           0  ...    6985.671157    88815.303580
2             1           0  ...   12328.383990     7093.048947
3             1           0  ...   28466.660270    22499.072100
4             1           0  ...    2620.195904     8322.647841
...         ...         ...  ...            ...             ...
26234         3           3  ...   13658.598820    14149.197710
26235         3           3  ...   29985.745430    15949.192520
26236         3           3  ...   64710.838130   156990.138700
26237         3           3  ...  148574.226100   382567.370200
26238         3           3  ...   33682.088740    31011.285930

[26239 rows x 17 columns]

In [ ]:
df_2009zensho_s = pd.read_csv("ippan_2009zensho_s/ippan_2009zensho_s_dataset.csv", encoding="shift_jis")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_2009zensho_s

            ※一般用ミクロデータは、公表済みの結果表から作成したミクロデータ形式のデータセットです。  ...     981
0         　このため、一般用ミクロデータから導かれた分析結果は実証研究の結果とみなすことはできません。  ...  他    の
1      ※注意事項など、一般用ミクロデータの最新情報は、統計センターＨＰ（http://www.ns...  ...    仕送り金
2                                    　ご利用いただく前にはご確認ください。  ...     NaN
3                                                    NaN  ...     NaN
4                                                    NaN  ...     NaN
...                                                  ...  ...     ...
45814                                                  0  ...     860
45815                                                  0  ...     406
45816                                                  0  ...     457
45817                                                  0  ...    2088
45818                                                  0  ...     710

[45819 rows x 430 columns]

In [ ]:
df_2009zensho_s = pd.read_csv("ippan_2009zensho_s/ippan_2009zensho_s_dataset.csv", encoding="shift_jis", skiprows=5)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_2009zensho_s

      Unnamed: 0 Unnamed: 1  Unnamed: 2  ... Unnamed: 427 Unnamed: 428 Unnamed: 429
0            NaN        NaN         NaN  ...          NaN          NaN        Other
1            NaN        NaN         NaN  ...   Remittance          (C)   remittance
2          3City  T_SeJinin  T_SyuJinin  ...         E408         E409         E410
3              1          2           1  ...          576          186          390
4              1          2           1  ...          282           94          188
...          ...        ...         ...  ...          ...          ...          ...
45809          0          3           2  ...         1817          957          860
45810          0          3           2  ...          769          363          406
45811          0          3           2  ...         1431          973          457
45812          0          3           2  ...         4129         2041         2088
45813          0          3           2  ...         1395          685          710

[45814 rows x 430 columns]

In [ ]:
df_2009zensho_s = pd.read_csv("ippan_2009zensho_s/ippan_2009zensho_s_dataset.csv", encoding="shift_jis", skiprows=8)

In [ ]:
df_2009zensho_s

       3City  T_SeJinin  T_SyuJinin  T_JuSyoyu  ...  E407  E408  E409  E410
0          1          2           1          1  ...  1141   576   186   390
1          1          2           1          1  ...   348   282    94   188
2          1          2           1          1  ...   658   429   183   246
3          1          2           1          1  ...   445   205    55   151
4          1          2           1          1  ...   428   445   138   307
...      ...        ...         ...        ...  ...   ...   ...   ...   ...
45806      0          3           2          2  ...   724  1817   957   860
45807      0          3           2          2  ...   372   769   363   406
45808      0          3           2          2  ...   362  1431   973   457
45809      0          3           2          2  ...  1562  4129  2041  2088
45810      0          3           2          2  ...   518  1395   685   710

[45811 rows x 430 columns]

In [ ]:
df_1992shugyou = pd.read_csv("ippan_shugyou/ippan_1992shugyou_dataset.csv", encoding="shift_jis")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,17,21,22,23,24,25,26,27,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_1992shugyou

             ※一般用ミクロデータは、公表済みの結果表から作成したミクロデータ形式のデータセットです。  ... Unnamed: 28
0          　このため、一般用ミクロデータから導かれた分析結果は実証研究の結果とみなすことはできません。  ...         NaN
1       ※注意事項など、一般用ミクロデータの最新情報は、統計センターＨＰ（http://www.ns...  ...         NaN
2                                     　ご利用いただく前にはご確認ください。  ...         NaN
3                                                     NaN  ...         NaN
4                                              DataSource  ...      Weight
...                                                   ...  ...         ...
205876                                            PUM_ESS  ...     527.778
205877                                            PUM_ESS  ...     527.778
205878                                            PUM_ESS  ...     527.778
205879                                            PUM_ESS  ...     527.778
205880                                            PUM_ESS  ...     527.778

[205881 rows x 29 columns]

In [ ]:
df_1992shugyou = pd.read_csv("ippan_shugyou/ippan_1992shugyou_dataset.csv", encoding="shift_jis", skiprows=5)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (21,23,24,25,26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_1992shugyou

       DataSource  Year  Prefecture  ...  T_NoworkAge  T_NoworkMarriage      Weight
0         PUM_ESS  1992           1  ...          NaN               NaN  521.126761
1         PUM_ESS  1992           1  ...          NaN               NaN  521.126761
2         PUM_ESS  1992           1  ...          NaN               NaN  521.126761
3         PUM_ESS  1992           1  ...          NaN               NaN  521.126761
4         PUM_ESS  1992           1  ...          NaN               NaN  521.126761
...           ...   ...         ...  ...          ...               ...         ...
205871    PUM_ESS  1992          47  ...        75歳以上             死別・離別  527.777778
205872    PUM_ESS  1992          47  ...        75歳以上             死別・離別  527.777778
205873    PUM_ESS  1992          47  ...        75歳以上             死別・離別  527.777778
205874    PUM_ESS  1992          47  ...        75歳以上             死別・離別  527.777778
205875    PUM_ESS  1992          47  ...        75歳以上             死別・離別  527.777778

[205876 rows x 29 columns]

In [ ]:
df_1997shugyou = pd.read_csv("ippan_shugyou/ippan_1997shugyou_dataset.csv", encoding="shift_jis")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,17,21,22,23,24,25,26,27,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_1997shugyou

             ※一般用ミクロデータは、公表済みの結果表から作成したミクロデータ形式のデータセットです。  ... Unnamed: 28
0          　このため、一般用ミクロデータから導かれた分析結果は実証研究の結果とみなすことはできません。  ...         NaN
1       ※注意事項など、一般用ミクロデータの最新情報は、統計センターＨＰ（http://www.ns...  ...         NaN
2                                     　ご利用いただく前にはご確認ください。  ...         NaN
3                                                     NaN  ...         NaN
4                                              DataSource  ...      Weight
...                                                   ...  ...         ...
213306                                            PUM_ESS  ...     511.111
213307                                            PUM_ESS  ...     511.111
213308                                            PUM_ESS  ...     511.111
213309                                            PUM_ESS  ...     511.111
213310                                            PUM_ESS  ...     511.111

[213311 rows x 29 columns]

In [ ]:
df_1997shugyou = pd.read_csv("ippan_shugyou/ippan_1997shugyou_dataset.csv", encoding="shift_jis", skiprows=5)
df_2002shugyou = pd.read_csv("ippan_shugyou/ippan_2002shugyou_dataset.csv", encoding="shift_jis", skiprows=5)
df_2007shugyou = pd.read_csv("ippan_shugyou/ippan_2007shugyou_dataset.csv", encoding="shift_jis", skiprows=5)
df_2012shugyou = pd.read_csv("ippan_shugyou/ippan_2012shugyou_dataset.csv", encoding="shift_jis", skiprows=5)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (21,23,24,25,26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (21,23,24,25,26) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (21,22,23,24,25,26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_1997shugyou

       DataSource  Year  Prefecture  ...  T_NoworkAge  T_NoworkMarriage      Weight
0         PUM_ESS  1997           1  ...          NaN               NaN  478.873239
1         PUM_ESS  1997           1  ...          NaN               NaN  478.873239
2         PUM_ESS  1997           1  ...          NaN               NaN  478.873239
3         PUM_ESS  1997           1  ...          NaN               NaN  478.873239
4         PUM_ESS  1997           1  ...          NaN               NaN  478.873239
...           ...   ...         ...  ...          ...               ...         ...
213301    PUM_ESS  1997          47  ...        75歳以上               NaN  511.111111
213302    PUM_ESS  1997          47  ...        75歳以上               NaN  511.111111
213303    PUM_ESS  1997          47  ...        75歳以上               NaN  511.111111
213304    PUM_ESS  1997          47  ...        75歳以上               NaN  511.111111
213305    PUM_ESS  1997          47  ...        75歳以上               NaN  511.111111

[213306 rows x 29 columns]

In [ ]:
df_2002shugyou

       DataSource  Year  Prefecture  ...  T_NoworkAge  T_NoworkMarriage      Weight
0         PUM_ESS  2002           1  ...          NaN               NaN  487.272727
1         PUM_ESS  2002           1  ...          NaN               NaN  487.272727
2         PUM_ESS  2002           1  ...          NaN               NaN  487.272727
3         PUM_ESS  2002           1  ...          NaN               NaN  487.272727
4         PUM_ESS  2002           1  ...          NaN               NaN  487.272727
...           ...   ...         ...  ...          ...               ...         ...
218344    PUM_ESS  2002          47  ...        75歳以上               NaN  494.642857
218345    PUM_ESS  2002          47  ...        75歳以上               NaN  494.642857
218346    PUM_ESS  2002          47  ...       70〜74歳               NaN  490.000000
218347    PUM_ESS  2002          47  ...        75歳以上               NaN  494.642857
218348    PUM_ESS  2002          47  ...        75歳以上               NaN  494.642857

[218349 rows x 29 columns]

In [ ]:
df_2007shugyou

       DataSource  Year  Prefecture  ...  T_NoworkAge  T_NoworkMarriage      Weight
0         PUM_ESS  2007           1  ...          NaN               NaN  513.953488
1         PUM_ESS  2007           1  ...          NaN               NaN  513.953488
2         PUM_ESS  2007           1  ...          NaN               NaN  513.953488
3         PUM_ESS  2007           1  ...          NaN               NaN  513.953488
4         PUM_ESS  2007           1  ...          NaN               NaN  513.953488
...           ...   ...         ...  ...          ...               ...         ...
220598    PUM_ESS  2007          47  ...        85歳以上             死別・離別  521.276596
220599    PUM_ESS  2007          47  ...        85歳以上             死別・離別  521.276596
220600    PUM_ESS  2007          47  ...        85歳以上             死別・離別  521.276596
220601    PUM_ESS  2007          47  ...        85歳以上               NaN  521.276596
220602    PUM_ESS  2007          47  ...        85歳以上             死別・離別  521.276596

[220603 rows x 29 columns]

In [ ]:
df_2012shugyou

       DataSource  Year  Prefecture  ...  T_NoworkAge  T_NoworkMarriage      Weight
0         PUM_ESS  2012           1  ...          NaN               NaN  486.842105
1         PUM_ESS  2012           1  ...          NaN               NaN  486.842105
2         PUM_ESS  2012           1  ...          NaN               NaN  486.842105
3         PUM_ESS  2012           1  ...          NaN               NaN  486.842105
4         PUM_ESS  2012           1  ...          NaN               NaN  486.842105
...           ...   ...         ...  ...          ...               ...         ...
221625    PUM_ESS  2012          47  ...        85歳以上             死別・離別  530.188679
221626    PUM_ESS  2012          47  ...        85歳以上             死別・離別  530.188679
221627    PUM_ESS  2012          47  ...        85歳以上             死別・離別  530.188679
221628    PUM_ESS  2012          47  ...        85歳以上             死別・離別  530.188679
221629    PUM_ESS  2012          47  ...        85歳以上               NaN  530.188679

[221630 rows x 29 columns]